<?xml version="1.0"?>
<Overrides>

  <Override xpath="SiteUrls/locations/location[@name='common']" mode="add">
    <url name="Saml_Response"  path="samlresponse.ashx" />
    <url name="Saml_Authn" path="samlauthn.ashx"/>
    <url name="Saml_Logout" path="samllogout.aspx" physicalPath="##themeDir##" />
  </Override>
</Overrides>
