<configuration>
	<system.web>
		<httpHandlers>
		  <add verb="GET,POST" path="samlresponse.ashx" type="Telligent.Services.SamlAuthenticationPlugin.Components.SamlResponseHandler, SamlAuthenticationPlugin" />
		  <add verb="GET,POST" path="samlauthn.ashx" type="Telligent.Services.SamlAuthenticationPlugin.Components.SamlAuthnHandler, SamlAuthenticationPlugin"  />
		</httpHandlers>    
	</system.web>
	
	<system.webServer>
		<handlers>
			<add name="SamlResponse" verb="GET,POST" path="samlresponse.ashx" type="Telligent.Services.SamlAuthenticationPlugin.Components.SamlResponseHandler, SamlAuthenticationPlugin"/>
			<add name="SamlAuthn" verb="GET,POST" path="samlauthn.ashx" type="Telligent.Services.SamlAuthenticationPlugin.Components.SamlAuthnHandler, SamlAuthenticationPlugin"/>
		</handlers>
	</system.webServer>
</configuration>
